name: main

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [14.x, 16.x]

        steps:
            - uses: actions/checkout@v2

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}

            - run: npm i
              name: Install dependencies
            - run: npx prettier --check .
              name: Check code formatting
              if: matrix.node-version == '16.x'

            - run: npm run build
              name: Build
            - run: git diff --name-only --exit-code ./bin/
              name: Make sure ./bin/cli.js is up to date
              if: matrix.node-version == '16.x'
